*{
    margin:0;
    padding: 0;
    font-size: 18px;
    
    font-family: 'Kumbh Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    background-color: hsl(185,75%,39%);

        
}

.container{
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;

}

.card{
    overflow: hidden;
    border-radius: 15px;
    width: 90%;
    max-width: 375px;
    margin:auto;
    background-color: #fff;
    z-index:10;
    

}

.card-pattern{
   background-image: url("images/bg-pattern-card.svg");
   background-repeat: no-repeat; 
    background-size: cover;
   height: 140px;
}

.card .image{
    position: relative;


}

.image img{
    display: block;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top:-50px;
    left:0;
    right:0;
    border:5px solid #fff;


}

.name{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    height: 160px;
    justify-content:flex-end;
}

.name p{
    padding-bottom: 1rem;
}

.city{
    color: hsl(0, 0%, 59%);
    text-align: center;
    padding-bottom: 2rem;

}

.stats{
    border-top:1px solid hsl(0, 0%, 79%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;

}

.stat .count{
    font-weight: 700;
    text-align: center;
}
.stat p{
    padding-top: 0.3rem;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: center;
}


.text-gray{
    color: hsl(0, 0%, 59%);
}

.font-small{
    font-size: 14px;
}

.bg-top{

    position: absolute;
    bottom: 20%;
    right: 50%;
    
}
.bg-bottom{
    
    position: absolute;
    left:40%;
    top:40%

}

@media screen and (min-width:768px) {
    .card{
        max-width: 375px;
    }

    .bg-top{
        
        position: absolute;
        bottom:40%;
        right: 50%;
        
    }
    .bg-bottom{
        position: absolute;
        left:50%;
        top:50%;
    
    }
}