.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1.8rem;
  margin-bottom: 1rem;
  width: 100%;

  .counter__remove,
  .counter__add {
    padding: 1rem;
    z-index: 2;
    cursor: pointer;
  }

  .counter__remove:hover,
  .counter__add:hover {
    opacity: 0.8;
  }
}
