$carousel-control-opacity: 0.8;

// Custom.scss
// Option A: Include all of Bootstrap

@import 'node_modules/bootstrap/scss/bootstrap';

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  background-size: 25%;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-image: url('../../assets/images/icon-next.svg');
}
.carousel-control-prev-icon {
  background-image: url('../../assets/images/icon-previous.svg');
}

.carousel-item {
  height: 100%;
  max-height: 640px;
}

.carousel-indicators {
  display: none;
  position: static;
  margin: 1.6rem 0 0 0;
  width: 100%;
  gap: 1rem;

  [data-bs-target] {
    border: 2px solid transparent;
    border-radius: 8px;
    height: auto;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    &.active {
      border: 2px solid var(--clr-orange);
    }
  }

  [data-bs-target]:hover img {
    opacity: 0.5;
  }
}

.carousel-indicators .active img {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  #carouselProduct {
    width: 80%;
    margin-inline: auto;
  }

  .carousel-item {
    height: 100%;
    img {
      border-radius: 8px;
    }
  }
  .carousel-indicators {
    display: flex;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
