*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

img {
  display: block;
  width: 100%;
}

.button-burger {
  max-width: 60px;
  background: transparent;
  border: none;
}

.button-burger .line {
  fill: #fff;
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}

.button-burger.open .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms;
}

.button-burger.open :is(.top, .bottom) {
  y: 45;
}

.button-burger.open .top {
  rotate: 45deg;
}

.button-burger.open .bottom {
  rotate: -45deg;
}

.button-burger.open .middle {
  opacity: 0;
}

.mobil-navbar {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  background-color: white;
  width: calc(100% - 4rem);
  border-top: 25px solid hsl(203, 100%, 68%);
  border-right: 25px solid white;
  border-left: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  padding-block: 3rem;
  padding-left: 25px;
  height: auto;
  min-height: 50vh;
  color: hsl(232, 10%, 55%);
  font-weight: 500;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.mobil-navbar a:link,
.mobil-navbar a:active,
.mobil-navbar a:visited {
  color: inherit;
}
.mobil-navbar .contact-button {
  background-color: rgb(243, 207, 10);
}

.contact-button {
  text-transform: uppercase;
  color: rgb(42, 42, 42);
  font-family: "Fraunces";
  font-size: 1.6rem;
  padding: 1.4rem 2.4rem;
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

.desktop-navbar {
  display: none;
  align-items: center;
}
.desktop-navbar li {
  padding-inline: 1rem;
  color: white;
  font-weight: 500;
}
.desktop-navbar .contact-button {
  background-color: white;
}
.desktop-navbar .contact-button:hover {
  background-color: rgb(101, 199, 235);
  color: inherit;
}

.flow-content > * {
  margin-bottom: 3rem;
}

.flow-content > *:last-child {
  margin-bottom: 0;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-top: 2rem;
}

.logo {
  color: white;
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

main {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 143.4666666667vw;
  color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  row-gap: 5rem;
}

main h1 {
  font-family: "Fraunces";
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-top: 1rem;
  font-size: 3.8rem;
  font-weight: 900;
  text-align: center;
}

main img {
  width: auto;
}

.section .remark {
  position: relative;
  width: auto;
}
.section .remark::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: -5%;
  bottom: -10%;
  width: 110%;
  border-width: 0.5rem;
  border-style: solid;
  border-color: var(--clr-remark);
  border-radius: 5px;
}
.section .remark:hover::after {
  border-color: var(--clr-remark-hover);
}

.section .content {
  padding-block: 6rem;
  padding-inline: 2.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section .content h2 {
  padding-inline: 2rem;
  font-family: "Fraunces";
  font-size: 3.4rem;
  color: hsl(212, 27%, 19%);
  line-height: 1.2;
}
.section .content p {
  font-family: "Barlow";
  font-weight: 500;
  line-height: 1.6;
  color: hsl(232, 10%, 55%);
}
.section .content p:nth-of-type(2) {
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
}

.section-transform {
  --clr-remark: hsla(51, 100%, 49%, 0.35);
  --clr-remark-hover: hsla(51, 100%, 49%, 0.8);
}

.section-standout {
  --clr-remark: hsla(7, 99%, 70%, 0.25);
  --clr-remark-hover: hsla(7, 99%, 70%, 0.8);
}

.section-graphic {
  height: 160vw;
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
}
.section-graphic .content {
  text-align: center;
  color: hsl(167, 40%, 24%);
}
.section-graphic .content h2 {
  font-size: 3rem;
  color: inherit;
}
.section-graphic .content p {
  color: inherit;
  font-size: 1.6rem;
}

.section-photo {
  color: hsl(198, 62%, 26%);
  background-image: url(./images/mobile/image-photography.jpg);
  height: 160vw;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
}
.section-photo .content p,
.section-photo .content h2 {
  color: inherit;
}
.section-photo .content h2 {
  font-size: 3rem;
}
.section-photo .content p {
  font-size: 1.6rem;
}

.testimonials {
  text-align: center;
  color: hsl(213, 9%, 39%);
  padding-block: 6rem 10rem;
}
.testimonials h2 {
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 4px;
  font-weight: 600;
  padding-bottom: 1rem;
}
.testimonials .testimonial {
  margin-inline: auto;
  padding-top: 3rem;
  padding-inline: 1.6rem;
  text-align: center;
}
.testimonials .testimonial img {
  border-radius: 50%;
  width: 7rem;
  margin-inline: auto;
}
.testimonials .testimonial p {
  padding-top: 3rem;
  color: inherit;
  font-weight: 500;
  padding-inline: 1rem;
  line-height: 1.6;
}
.testimonials .testimonial .footer {
  background-color: white;
  margin-top: 3.5rem;
}
.testimonials .testimonial .footer .name {
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
}
.testimonials .testimonial .footer .title {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(210, 4%, 67%);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  padding-block: 5rem;
  background-color: hsl(167, 45%, 70%);
  color: hsl(168, 43%, 32%);
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.4rem;
}
footer .navbar {
  font-weight: 500;
  padding-inline: 3.6rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-block: 3.4rem;
  justify-content: space-between;
  color: hsl(168, 34%, 41%);
}
footer .navbar a:visited,
footer .navbar a:active,
footer .navbar a:link {
  color: inherit;
}
footer .navbar a:hover {
  color: white;
}
footer .social-icons {
  list-style: none;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  padding-block: 5rem;
  gap: 3rem;
}
footer .social-icons a:hover svg path {
  fill: white;
}

@media screen and (min-width: 768px) {
  main {
    background-image: url("./images/desktop/image-header.jpg");
    height: 55.5555555556vw;
  }
  .testimonial {
    max-width: 60%;
  }
  .section .content {
    font-size: 1.6rem;
  }
  .section .content h2 {
    max-width: 70%;
    padding-inline: 0;
    font-size: 2rem;
  }
  .section-transform {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .section-transform .content,
  .section-transform img {
    width: 50%;
    max-height: 50vw;
  }
  .section-transform .content {
    justify-content: center;
    text-align: left;
  }
  .section-standout {
    display: flex;
  }
  .section-standout .content,
  .section-standout img {
    width: 50%;
  }
  .section-standout .content {
    justify-content: center;
    text-align: left;
  }
  .section-group {
    display: flex;
  }
  .section-graphic,
  .section-photo {
    width: 50%;
    height: 50vw;
    padding-bottom: 2rem;
    background-size: cover;
    background-position: center;
  }
  .section-graphic .content,
  .section-photo .content {
    align-items: center;
    padding-block: 1rem 1rem;
    flex-basis: 35%;
  }
  .section-graphic .content h2,
  .section-photo .content h2 {
    margin-bottom: 2.8rem;
  }
  .section-graphic {
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }
  .section-photo {
    background-image: url("./images/desktop/image-photography.jpg");
  }
}
@media screen and (min-width: 1023px) {
  .container {
    max-width: 1440px;
    margin-inline: auto;
  }
  header {
    left: 50%;
    transform: translateX(-50%);
  }
  .mobil-navbar,
  .button-burger {
    display: none;
  }
  .desktop-navbar {
    display: flex;
  }
  .desktop-navbar li {
    padding-inline: 3rem;
  }
  .section-transform .content,
  .section-standout .content,
  .section-graphic .content,
  .section-photo .content {
    font-size: 1.8rem;
    padding-inline: 10vw;
  }
  .testimonials {
    padding-block: 18rem 20rem;
  }
  .testimonials h2 {
    font-size: 2.4rem;
    letter-spacing: 6px;
  }
  .testimonials .wrapped {
    padding-top: 5rem;
    margin-inline: auto;
    display: flex;
    max-width: 90vw;
  }
  .testimonials .wrapped .testimonial {
    padding-inline: 2.4rem;
  }
  .testimonials .wrapped .testimonial img {
    object-fit: cover;
    width: 8rem;
  }
  .testimonials .wrapped .testimonial p {
    padding-top: 6rem;
    line-height: 1.8;
  }
  .testimonials .wrapped .testimonial .footer {
    padding-top: 4rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .wrapped {
    margin-inline: auto;
    max-width: 33vw;
  }
  footer .wrapped .navbar {
    padding-inline: 0;
    gap: 7rem;
  }
  footer .wrapped .social-icons {
    gap: 0rem;
    width: 60%;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
